@using Knowit.EPiModules.Replaceables.Helper
@model List<Knowit.EPiModules.Replaceables.Models.ReplaceableModel>
           


<div class="replacables-widget scroll dijitTree dijitTreeContainer">
    
    <style type="text/css">
        div.replacables-widget.scroll {
            overflow-y: scroll;
        }

        div.replacables-widget .info {
            padding: 7px;
            background-color: #fff8aa;
        }

        div.replacables-widget .row {
            padding: 7px;
            border-bottom: 1px solid #cccccc;
        } 
    </style>
    
    <div class="info">
        <span class="dijitIcon epi-iconInfo"></span> @Html.Raw(string.Format("Use '{0}' before and '{1}' after the key. Eg. {0}example{1}", ReplaceableHelper.SearchTagStart, ReplaceableHelper.SearchTagEnd))
    </div>

    <div class="info">
        <a href="/episerver/replaceables/editor">Replaceables editor</a>
    </div>

    @foreach (var replaceable in Model)
    {
        <div class="row">
            <strong>@replaceable.Key</strong>: @replaceable.Value
        </div>
    }
</div>
